.venv/
.pytest_cache/
__pycache__/
*.pyc
python/*.egg-info/
build/
.vs/
*.user
*.suo
*.obj
*.o
*.exe
*.pdb
*.ilk
*.log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
output.png
!fixtures/
!fixtures/**
